@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --div-transparent: #000c4f9d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-div-transparent: var(--div-transparent);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Custom Colours */
  --color-overlay-custom: oklch(0.9194 0.0085 56.31);
  --color-primary-custom: oklch(0.4766 0.0765 263.45);
  --color-secondary-custom: oklch(0.212 0.0426 256.46);
  --color-accent-custom: oklch(0.7248 0.1819 45.86);

  /* Animations */
  --animate-rotateOuter: rotate 2s linear infinite;
  --animate-rotateMiddle: rotate 2.5s linear infinite reverse;
  --animate-rotateInner: rotate 1.8s linear infinite;

  @keyframes rotate {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg)
    }
  }

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .bg-div-transparent {
    background-color: var(--div-transparent);
  }
}

@layer base {
  .layout-background {
    @apply bg-[#f9f9f9];
  }

  .layout-dark-shift {
    @apply bg-[#444444] transition-all duration-300;
  }

  .layout-light-shift {
    @apply bg-[#f9f9f9] transition-all duration-300;
  }

  .hex {
    clip-path: polygon(
      25% 6.7%,
      75% 6.7%,
      100% 50%,
      75% 93.3%,
      25% 93.3%,
      0% 50%
    );
  }

  .triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

}
