@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --div-transparent: #000c4f9d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-div-transparent: var(--div-transparent);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Custom Colours */

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .bg-div-transparent {
    background-color: var(--div-transparent);
  }
}

@layer base {
  .layout-background {
    @apply bg-[#f9f9f9];
  }

  .layout-dark-shift {
    @apply bg-[#444444] transition-all duration-300;
  }

  .layout-light-shift {
    @apply bg-[#f9f9f9] transition-all duration-300;
  }

  .hex {
    clip-path: polygon(
      25% 6.7%,
      75% 6.7%,
      100% 50%,
      75% 93.3%,
      25% 93.3%,
      0% 50%
    );
  }

  .triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
}
